mixin contact(address, email, phone, website)
    include block-header.pug
    .contact
        +block-header('Contact')
        table.contact-table 
            tr
                td= "Address"
                td= address
            tr
                td= "E-mail"
                td= email
            tr
                td= "Phone"
                td= email
            tr
                td= "Website"
                td= email
