mixin contact({address, email, phone, website})
    include ../cv-section-header/cv-section-header.pug
    section.contact
        +cv-section-header("contact")
        dl.contact__data
            dt.contact__data-type="Address"
            dd.contact__data-value=address

            dt.contact__data-type="E-mail"
            dd.contact__data-value=email

            dt.contact__data-type="Phone"
            dd.contact__data-value=phone

            dt.contact__data-type="Website"
            dd.contact__data-value=website
