mixin contact(address, email, phone, website)
    include ../block-header/block-header.pug
    .contact
        +block-header('contact')
        dl.contact__dl 
            dt.contact__dt= "Address"
            dd.contact__dd= address
            
            dt.contact__dt= "E-mail"
            dd.contact__dd= email
            
            dt.contact__dt= "Phone"
            dd.contact__dd= phone
            
            dt.contact__dt= "Website"
            dd.contact__dd= website
