mixin cv-contact({address, email, phone, website})
    include ../cv-section-header/cv-section-header.pug
    section.cv-contact
        +cv-section-header("contact")
        dl.cv-contact__data
            dt.cv-contact__data-type="Address"
            dd.cv-contact__data-value=address

            dt.cv-contact__data-type="E-mail"
            dd.cv-contact__data-value
                a.cv-contact__link(href=`mailto: ${email}`)=email

            dt.cv-contact__data-type="Phone"
            dd.cv-contact__data-value
                a.cv-contact__link(href=`tel: ${phone}`)=phone

            dt.cv-contact__data-type="Website"
            dd.cv-contact__data-value
                a.cv-contact__link(href=`//${website}` target="_blank" rel="noopener noreferrer")=website
