mixin contact(address, email, phone, website)
    .contact
        .block-header
            .picture.blok-header__picture
            h2.block-header__title= "Contact"
        table.contact-table 
            tr
                td= "Address"
                td= address
            tr
                td= "E-mail"
                td= email
            tr
                td= "Phone"
                td= email
            tr
                td= "Website"
                td= email
